# Core dependencies
ipython=8.18.1
numpy=1.26.4
matplotlib=3.9.4
astropy=6.0.1
scipy=1.13.1
ppxf=9.4.2    # Michele Cappellari's Penalized Pixel-Fitting
pandas=2.2.3  # For data manipulation and analysis

# Spectral analysis
specutils>=1.4.0  # Optional: For spectroscopic data handling